.options-container {
  margin-top: 150px;
}

.options {
  border: 2px solid gray;
  height: 50px;
  width: 200px;
  margin: 100px;
  cursor: pointer;
  background-color: #eee;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 30px;
  color: black;
  padding: 20px;
}