.App {
  text-align: center;
}

.text-box {
  height: 100px;
  width: 300px;
}

.text-box-label {
  margin-top: 150px;
  margin-bottom: 15px;
  display: block;
  font-size: 20px;
}

.start-button {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 75px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 30px;
}

.finished-list-container {
  margin-top: 150px;
}

.finished-list-item {
  display: block;
  margin: 10px auto;
}
